
/* Medium View*/
@media screen and (min-width: 32.5em) {
    body {
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
    }
    header {
     padding: 15px;
     display: grid;
     grid-template-columns: 1fr;
     
     justify-items: center;
     box-shadow: 10px 5px 5px black;
     border-radius: 15px;           
 }
 footer {
    border-radius: 15px;
}
 
 }
/* Large View*/
@media screen and (min-width: 80em) {
    body {
        margin-left: 400px;
        margin-right: 400px;
        max-width: 950px;
    }

    header {

        display: grid;
        grid-template-columns: 1fr 4fr;
        justify-items: center;
        align-items: center;
      
              
}
body section.third_card{
    background-color: red;
}

}
    


