
* {
    font-family: "Exo", sans-serif;
}
body main.center {
    display: block;
}
h1 {
    color: #022765;
    text-align: center;
}
body form {
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    padding: 15px;
    margin-bottom: 50px;
 
}


body form label.top input{
    display: block;
    margin-bottom: 1.5em;
    padding: 10px;
    min-width: 90%;
   
    
}

body form label.sbs {
    margin-bottom: 1.5em;
    display: block;
}
 body form input.button {
     display: block;
     max-width: 50%;
     padding: 25px;
     font-size: 1em;
     padding-left: 20px;
     color: white;
     background-color:  #022765;
     margin-left: auto;
     margin-right: auto;
    
     
 }

 body form textarea {
    
    display: block;
    max-width: 90%;
    padding: 15px;
    margin-bottom: 1.5em;
   
 }


 div.levels {
     display: none;
 }

 footer {
    text-align: center;
    background-color: #022765;
    color: white;
    padding: 10px;
  }
  footer img {
    max-width: 30%;
    height: auto;
  }
  
  footer a {
    text-decoration: none;
    color: #fed700;
  }
