main h1,main h2 {
    text-align: center;
}

main img {
    display: block;
    padding: 2em;
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
main p {
    padding: 1em
}
main form {
    padding: 1em;
    margin-top: 2em;
}

form label {
    display: block;
}

form label input, textarea{
    display: block;
    margin-bottom: 2em;
    padding: 1em;
    
}

form input {
    min-width: 95%;
}

form input.submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    background-color: #D2A04B;
    color: white;
    border: none;
}



@media screen and (min-width: 65em) {
    main div {
        display: flex;
        padding: 1em;
        max-width: 75vw;
        margin-left: auto;
        margin-right: auto;
        background-color: #EBEBEB;

    }
    main p {
        align-self: center;
        line-height: 2em;
    }

    main form {
        max-width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }
     
    main form input.submit {
        padding: 1.5em;
        font-size: 1em;
    }

    main form input.submit:hover {
        cursor: pointer;
        background-color: #f4b03c;
    }

}

