main h1 {
    text-align: center;
}

main img {
    display: block;
    max-width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

main p {
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1em;
    line-height: 2em;
}
p.inquiry {
    text-align: center;
}

main div {
    margin-bottom: 2em;
}

@media screen and (min-width: 65em) {
    main img {
        max-width: 35vw;
    }

    main div {
        display: flex;
        padding: 5em;
    }

    main p {
        align-self: center;
        text-align: left;
        gap: 2em;
    }

    main div.food {
        background-color: #EBEBEB;
    }
    main div.food p {
        order: 1;
    }
    main div.food img {
        order:2;
    }

    p.inquiry {
        font-size: 1.25em;
        margin: 0px;
        padding: 2em;
       
      

    }
}