h1{
    text-align: center;
    color: #D2A04B;
    

}

form {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

div.dates {
    margin-bottom: 2em;
    margin-top: 2em;
}
div.dates label input {
    padding: .75em;
}

form label.top{
    display: block;
} 

form label.top input {
    display: block;
    margin-bottom: 2em;
    padding: .75em;
    min-width: 100%;
}

form div.rooms label{
    display: block;
    margin-bottom: 1em;
}

form label textarea {
    display: block;
}

input.submit {
    padding: 1.5em;
    margin-top: 2em;
    background-color: #D2A04B;
    color: white;
    border: none;
    font-size: 1em;

}

img.check {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

h1.confirm {
    color: #74B13D;
}