main h1 {
    text-align: center;
    margin-bottom: 2em;
}
main div section {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #EBEBEB;
    
}

main div section h2 {
    text-align: center;
    color: #D2A04B;
}

main div section ul li {
    margin-bottom: 1em;
    padding: 5px;
}

div.pages section h3 {
    background-color: #D2A04B;
    text-align: center;
    padding: 1em;
    opacity: .85;
    margin-top: 0px;
}
div.pages section h3:hover{
    background-color: #f4b03c;
    
}
section.reception {
    background-image: url('../images/reception.jpg');
    min-height: 50vh;
    height: auto;
    margin-bottom: 2em;
}

section.missionary {
    background-image: url('../images/missionary.jpeg');
    min-height: 50vh;
    height: auto;
}

@media screen and (min-width: 65em) {

    main div section.amenities {
        max-width: 40vw;
    }
    main div section {
        max-width: 75vw;
        
    }

    main div.pages {
        max-width: 75vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
        grid-gap: 1.5em;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    main div.pages section {
        min-width: 100%;
        min-height: 350px;
    }

    section.reception {
        margin-bottom: 0px;
    }
}