h1,
h2,
h3,
h4,
h5,
a,
button{
  font-family: "Exo", sans-serif;
}

main p {
  font-family: "Advent Pro", sans-serif;
  color: #ad4f14;
}
main h2 {
  color: #022765;
  text-align: center;
}

/* Header */
header {
  background-color: #022765;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  justify-content: end;
}
header h1 {
  font-size: 1em;
}
h2 {
  font-size: 0.75em;
}
header img.logo {
  max-width: 100%;
  height: auto;
}
header div.info {
  flex: 1 2 auto;
  text-align: left;
  align-self: center;
  line-height: 15px;
}

.img_btn {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: end;
 

}

.img_btn img {
  max-width: 30px;
  height: auto;
}
img.insta {
  min-width: 40px;
}
div.date {
  display: block;
  background-color: #0548bb;
  padding: 3px;
  margin-bottom: 5px;
  border: 5px solid #022765;
}
div.date h2 {
  color: white;
  font-size: 1em;
  text-align: center;
}
div.img_btn button {
  font-size: 2.25em;
  background: transparent;
  border: none;
  color: white;
}
button span:nth-child(2) {
  display: none;
}
nav ul {
  justify-self: end;
}

nav ul li {
  display: none;
  list-style: none;
  border-bottom: 1px solid lightgrey;
  padding: 15px;
}
nav ul li a {
  text-decoration: none;
  list-style: none;
  margin: 0;
  color: white;
}
/* When hamburger button is clicked*/
header {
  position: relative;
}
header.open img {
  display: none;
}
header.open div.info {
  display: none;
}

button.open span:nth-child(1) {
  display: none;
}
button.open span:nth-child(2) {
  display: block;
  font-size: 1em;
}
nav ul.open {
  padding-left: 0;
  background-color: #022765;
  text-align: center;
  position: absolute;
  padding: 5px;
  top: 20px;
  left:0px;
  min-width: 100%;
  min-height: 100%;
  opacity: .9;
  padding-bottom: 100px;
  z-index: 1;
}
nav ul.open li {
  display: block;
}

/* Banner */
body div#banner {
  text-align: center;
  font-size: .5rem;
  background-color: #ca5811;
  color: white;
  padding: 5px;
  margin: 25px;
  display: none;

  
}
/*Body*/
body main h2 {
  font-size: 1.25em;
}
body main {
  margin: 15px;
  display: flex;
  flex-flow: column;
}
main section.hero {
  position: relative;
}
main section.hero img{
  max-width: 100%;
  height: 100%;
  
}
main section.hero button {
  position: absolute;
  right: 30px;
  bottom: 30px;
  padding: 15px;
  background-color: #022765;
  color: white;
  border: 1px solid white;
  opacity: .9;
  
} 

main section, main div {
  border: 1px solid grey;
  background-color: rgb(235, 235, 235);
  min-height: 150px;
  margin-bottom: 20px;

}

main section.event p {
  text-align: left;
  margin-left: 10px;
  font-size: 1.25em;

}

main section.weather {
  background-color: #022765;
  color: white;
}
main section.weather h2 {
  color: white;
}
main section.weather div {
  border: none;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #022765;
  margin: 0;
  min-height: 20px;
  
}
main section.weather span {
  font-size: 5em;
  color: orange;
}
main section.weather h3 {
  font-size: 3em;
  margin: 0;
  margin-top: 15px;
  
}
main section.weather h4 {
  font-size: 2em;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid white;
  margin-left: 15px;
  margin-right: 15px;

}

main section.weather h5 {
  font-size: 1em;
  text-align: center;
}
section.news p{
  padding: 5px;
}
main div.sl {
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
  margin-bottom: 0px;
  
}
main div.sl section:nth-child(1) img {
  display: block;
  max-width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  
}
main div.sl section:nth-child(1) {
  flex: 1 1 auto;
}

main div.sl section:nth-child(1) p, main div.sl section:nth-child(2) p, main div.sl section:nth-child(3) p {
  text-align: center;
  font-size: 1.15em;
  margin-bottom: 0px;
}
main div.sl section {
  margin-bottom: 0px;
}
main div.sl section:nth-child(2) {
  flex: 1 1 auto;
}
main div.sl section:nth-child(2) img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  height: auto;
}
main div.sl section:nth-child(3) img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
  height: auto;
}
main div.sl section:nth-child(3) {
  display: none;
}

main section.join {
  display: none;
}
main div.weather_news {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: white;
  margin-bottom: 0px;
}

/*Footer*/

footer {
  text-align: center;
  background-color: #022765;
  color: white;
  padding: 10px;
}
footer img {
  max-width: 30%;
  height: auto;
}

footer a {
  text-decoration: none;
  color: #fed700;
}
