
body {
    max-width: 510px;
    margin-left: auto;
    margin-right: auto;
}

body img {
    min-height: 350px;
    display: block;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;

    
}


body h1 {
    text-align: center;
    
}