* {
    font-family: "Exo", sans-serif;
}





/*--------------- HEADER ---------------*/
header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: #022765;
    margin-bottom: 30px;
    position: relative;
}
header img {
    max-width: 100%;
    height: auto;
}
header h1 {
    font-size: 1rem;
    color: white;
}
header div.title {
    align-self: center;
}
header div.title h1, header div.title h2 {
   text-align: left;
}

header button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    align-self: start;
    justify-self: end;
}

header button span:nth-child(2) {display: none;}

header nav ul {
    display: none;
    padding: 0;}

header nav ul li {
    border-bottom: 1px solid white;
    padding: 30px;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
 
    
  
}
header nav ul li a {
    display: inherit;
    color: white;
    text-decoration: none;
    text-align: center; 
    font-size: 1.5rem; 
}
header nav ul li a.current {
    color: yellow;
}

header nav ul li a.current {
    color: yellow;
    text-decoration: underline;
}

/* When hamburger button is clicked*/
body main.open {
    filter: blur(5px);
}


header nav ul.open {
    display: block;
    position: absolute;
    top: 0px;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #022765;
    opacity: .9;
    z-index: 1;
    margin: 0;
    padding-bottom: 50px;


  
}

header button.open span:nth-child(1) {
    visibility: hidden;
}

header button.open span:nth-child(2) {
    display: block;
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 5px;
    font-size: 3rem;
}

/*--------------- BODY ---------------*/

body h1.title {
    color: #022765;
    text-align: center;
}
section {
    background-color: rgb(230, 228, 228);
    padding: 10px;
    margin-bottom: 15px;
}
body section img {
    display: block;
    max-width: 75%;
    height: auto;
    margin: 0 auto;
}

body section h2 {
    font-size: .85rem;
    text-align: center;
    color: #022765;
}



/*--------------- FOOTER ---------------*/

footer {
    text-align: center;
    background-color: #022765;
    color: white;
    padding: 10px;
  }
  footer img {
    max-width: 30%;
    height: auto;
  }
  
  footer a {
    text-decoration: none;
    color: #fed700;
  }